@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

html {
  font-size: 14px;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
a {
  text-decoration: none;
}



.carousel-item img {
object-fit: cover;
object-position: top;
height: 60vh;
overflow: hidden;

}